*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}


.copy-header{
    font-size: 20px;
    position: relative;
    right: 1px;
}

header{
    background-color: #EAC926;
    padding: 5px;
}

header div.logo{
    width: 200px;
}

header div.logo{
    padding: 10px;
}
header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

.form {
    position: relative;
    right: 50px;
    padding-left: 15px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    margin-top: 20px;
    width: 10%;
    height: 30px;
}
header .top-header p{
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

.main2{
    display:none
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    position: relative;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}
.main-article{
    position: relative;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

footer{
    text-align: center;
    margin-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
}

footer section {
    margin-bottom: 40px;
}

.iconos {
    padding-bottom: 5px;
    color:#0044AA
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .products article {
     flex: 0 1 100%;
 }

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}


@media (min-width: 480px){

    .top-header{
        display: flex;
        justify-content: space-around;
    }
  

    header div.logo{
        width: 300px;
    }
    
    .copy-header{
        font-size: 15px;
        padding-top: 2%;
        
    }

    .products article {
        flex: 0 0 calc(50% - 1em);
    }

}

@media (min-width: 769px){
    .top-header{
        display: flex;
        justify-content: space-between;
    }

    .copy-header{
        max-width: 200px;
        text-align: right;
    }

    .burger-menu{
        display: none;
    }

    .main2{
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }

    .main2 ul {
        display: flex;
    }

    .main2 li {
        margin: 0 5px;
        padding-left: 5px;
    }
    .products article {
        flex: 0 0 calc(50% - 1em);
    }
}

@media (min-width: 960px) {
.top-header, .main2 {
    max-width: 1200px;
    margin: auto
}

.copy-header{
  font-size: 18px;
  font-weight: 400;
}

.main2 li {
    margin: 0 10px;
}

.main2 a {
    font-size: 15px
}

.products article {
    flex: 0 0 calc(25% - 1em);
}

}